# Environment variables (IMPORTANT)
.env
.env.*
!.env.example
!**/.env.example
*.env

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.tmp
*.swp
